@{
    ViewBag.Title = "Access is denied";
}

<div class="h2">
    Access is denied!
</div>
<div class="h3">
    You do not have permission to access!
</div>
<div class="alert alert-info">
    Click <a class="alert-link" href="@Url.Action("Index", "Home")">here</a> to back Home page.
</div>

