@{
    ViewBag.Title = "Profile was blocked";
}

<div class="h2">
    Your profile was blocked!
</div>
<div class="h3">
    Administrator blocked your profile!
</div>
<div class="alert alert-info">
    Click <a class="alert-link" href="@Url.Action("Index", "Home")">here</a> to back Home page.
</div>

