@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">Phone:</abbr>
    secret :)
</address>

<address>
    <strong>Developer:</strong> <a href="mailto:Marketing@example.com">ilya.misteyko@gmail.com</a>
</address>