@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <img src="https://static.dw.com/image/56691335_101.jpg" class="img-fluid" alt="Alternate Text" />
    </div>
    <div class="col-md-7">
        <div class="h1">
            Title
        </div>
        <div>
            Text
        </div>
    </div>
</div>